{% if page.path contains '_posts' %}
<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
{% else %}
<meta property="og:url" content="{{ page.url | prepend: '/' | prepend: site.baseurl | prepend: site.url }}" />
{% endif %}

<meta property="og:type" content="{{ page.ogptype | default: 'article' }}" />
<meta property="og:title" content="{{ page.title }}" />
{% if page.description %}
<meta property="og:description" content="{{ page.description | strip_html }}" />
{% elsif page.excerpt %}
<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}" />
{% endif %}
{% capture ogp_image %}{% asset ogp.png @path %}{% endcapture %}
{% if assets[page.image] %}
{% capture ogp_image %}{% asset '{{ page.image }}' @path %}{% endcapture %}
{% endif %}
<meta property="og:image" content="{{ ogp_image | prepend: site.url }}" />
