---
layout: default
---
{% comment %}
<!-- @todo to fix when https://github.com/envygeeks/jekyll-assets/pull/489 is merge -->
<!-- @todo transition not working -->
{% endcomment %}

<main id="landing" role="main" class="main fisholover-landing">
    {% for post in site.posts %}
    <section class="fisholover-hero-content-wrapper center overflow-hidden">
        <a href="{{ post.url | prepend: site.baseurl }}" class="text-decoration-none block">
            <amp-img class="fisholover-hero-image" src="{% asset '{{ post.hero.image.regular }}' @path %}" width="750" height="573"
                     layout="responsive" media="(max-width: 52.06rem)" alt="{{ post.hero.title }}" noloading="">
                <div placeholder="" class="fisholover-loader"></div>
            </amp-img>
            <amp-img class="fisholover-hero-image" src="{% asset '{{ post.hero.image.wide }}' @path %}" width="1280" height="555"
                     layout="responsive" media="(min-width: 52.07rem)" alt="{{ post.hero.title }}" noloading="">
                <div placeholder="" class="fisholover-loader"></div>
            </amp-img>
            <div class="fisholover-hero-content fisholover-hero-content-theme-{{ post.hero.theme | default: 'primary' }} flex justify-center flex-column md-mx-auto md-p0">
                <div class="fisholover-hero-align md-mx-auto">
                    <h2 class="fisholover-hero-content-title h4 md-h1 caps md-mb2 md-pl4">{{ post.title }}</h2>
                    <p class="fisholover-hero-content-body">
                        {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
                    </p>
                    <div class="ampstart-btn ampstart-btn-{{ post.hero.theme | default: 'primary' }} caps md-ml4">Read more</div>
                </div>
            </div>
        </a>
    </section>
    {% endfor %}
</main>
