<!-- Start Footer -->
<footer class="ampstart-footer flex flex-column items-center px3">

    {% include sns/follow.html %}

    <nav class="ampstart-footer-nav">
        <ul class="list-reset flex flex-wrap mb3">
            {% for my_page in site.pages %}
                {% if my_page.title %}
                <li class="px1">
                    <a class="text-decoration-none ampstart-label" href="{{ my_page.url | prepend: site.baseurl }}">
                        {{ my_page.title }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <small>
        &copy; {{ site.owner }}, {{ site.time | date: '%Y' }}
    </small>
</footer>
<!-- End Footer -->
