<!-- Start Fullpage Hero -->
<figure class="ampstart-image-fullpage-hero m0 relative mb4">
    {% if assets[page.hero.image.narrow] %}
        <amp-img width="404" height="720" alt="{{ page.hero.title }}" layout="responsive"
             src="{{ assets[page.hero.image.narrow].digest_path }}" media="(max-width: 415px)"></amp-img>
    {% endif %}
    {% if assets[page.hero.image.wide] %}
        <amp-img height="720" alt="{{ page.hero.title }}" layout="fixed-height"
             src="{{ assets[page.hero.image.wide].digest_path }}" media="(min-width: 416px)"></amp-img>
    {% endif %}
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
        {% if page.hero.title or page.hero.author or page.hero.date %}
        <header class="p3">
            {% if page.hero.title %}
            <h1 class="ampstart-fullpage-hero-heading mb3">
                <span class="ampstart-fullpage-hero-heading-text">{{ page.hero.title }}</span>
            </h1>
            {% endif %}

            {% if page.hero.author or page.hero.date %}
            <span class="ampstart-image-credit h4">
                {% if page.hero.author %}
                    By <a href="#" role="author" class="text-decoration-none">{{ page.hero.author }}</a>,
                {% endif %}
                {% if page.hero.date %}
                    <br> {{ page.hero.date }}
                {% endif %}
            </span>
            {% endif %}
        </header>
        {% endif %}
        <footer class="absolute left-0 right-0 bottom-0">
            <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5"
               href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
        </footer>
    </figcaption>
</figure>
<!-- End Fullpage Hero -->
