<!-- Start Navbar -->

<header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4">
    <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0"
         class="ampstart-navbar-trigger md-hide lg-hide pr2">☰
    </div>
    <a href="/" class="text-decoration-none inline-block mx-auto ampstart-headerbar-home-link xs-hide sm-hide">
        <amp-img src="{% asset 'logo.svg' @path %}" width="119" height="26" layout="fixed" class="my0 mx-auto"
                 alt="AMP start home logo"></amp-img>
    </a>
    <nav class="ampstart-headerbar-nav ampstart-nav xs-hide sm-hide">
        <ul class="list-reset center m0 p0 flex justify-center nowrap">
            {% for my_page in site.pages %}
                {% if my_page.title %}
                <li class="ampstart-nav-item www-nav-components">
                    <a href="{{ my_page.url | prepend: site.baseurl }}" class="text-decoration-none block">
                        {{ my_page.title }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>

<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3 md-hide lg-hide" layout="nodisplay">
    <div class="flex justify-start items-center ampstart-sidebar-header">
        <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle"
             tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
    </div>
    <nav class="ampstart-sidebar-nav ampstart-nav">
        <ul class="list-reset m0 p0 ampstart-label">
            <li>
                <a href="/" class="text-decoration-none block 22">
                    <amp-img src="{% asset 'logo.svg' @path %}" width="119" height="26" layout="responsive"
                             class="ampstart-sidebar-nav-image block col-6 mt2 mb4" alt="AMP start home logo">
                    </amp-img>
                </a>
            </li>
            {% for my_page in site.pages %}
                {% if my_page.title %}
                <li class="ampstart-nav-item ">
                    <a class="ampstart-nav-link" href="{{ my_page.url | prepend: site.baseurl }}">
                        {{ my_page.title }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    {% include sns/follow.html %}
</amp-sidebar>
<!-- End Sidebar -->
<!-- End Navbar -->
