<!-- Start Image with Caption -->
{% if include.image %}
<figure class="ampstart-image-with-caption m0 relative mb4">
    <amp-img src="{% asset '{{ include.image }}' @path %}" width="756" height="520" alt="{{ include.description }}"
             layout="responsive" class=""></amp-img>
    <figcaption class="h5 mt1 px3">
        {{ include.description }}
        {% if include.author %}
            <span class="ampstart-image-credit block bold">
              Taken by
                {% if include.link %}
                    <a href="{{ include.link }}" role="author">{{ include.author }}</a>
                {% else %}
                    {{ include.author }}
                {% endif %}
            </span>
        {% endif %}
    </figcaption>
</figure>
{% endif %}
<!-- End Image with Caption -->