<!-- Start carousel -->
{% if include.data %}
<amp-carousel width="756" height="638" layout="responsive" type="slides" class="mb4">
    {% for fig in include.data %}
    <!-- Start Image with Caption -->
    <figure class="ampstart-image-with-caption m0 relative mb4">
        <amp-img src="{% asset '{{ fig.img }}' @path %}" width="756" height="520" alt="{{ fig.title }}"
                 layout="responsive" class=""></amp-img>
        <figcaption class="h5 mt1 px3">
            {{ fig.title }}
            {% if fig.author %}
            <span class="ampstart-image-credit block bold">
                Taken by <a href="#" role="author">{{ fig.author }}</a>
            </span>
            {% endif %}
        </figcaption>
    </figure>
    <!-- End Image with Caption -->
    {% endfor %}
</amp-carousel>
{% endif %}
<!-- End carousel -->
