article {
  div {
    &.body {
      p {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        margin-bottom: 2rem;
      }
    }
  }
}

main#landing {
  .h4 {
    text-decoration: none;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    color: #000
  }

  .ampstart-btn {
    background-color: rgba(34, 34, 34, 0.5);
    display: inline-block;
    font-size: .8rem;
    font-family: Open Sans Condensed, sans-serif;
    font-weight: 700;
    padding: .5rem 2rem;
    -webkit-transition: background-color .2s ease-in, color .2s ease-in;
    transition: background-color .2s ease-in, color .2s ease-in

  }

  .ampstart-btn-secondary {
    background-color: rgba(34, 34, 34, 0.5);
    color: #FFF;
    border: 0
  }

  .fisholover-hero-content {
    padding: 3rem 1.5rem
  }

  .fisholover-hero-content-body {
    padding: 1rem 1rem 1.5rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto
  }

  .fisholover-landing {
    max-width: none
  }

  .fisholover-hero-image {
    .fisholover-loader {
      margin-top: 200px
    }
  }

  .amp-mode-mouse {
    .ampstart-btn:hover,
    .ampstart-btn-secondary {
      background-color: rgba(255, 255, 255, 0.9);
      color: #222
    }

    .fisholover-hero-image {
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s
    }

    .fisholover-hero-content-wrapper {
      &:hover {
        .fisholover-hero-image {
          -webkit-transform: scale(1.05);
          transform: scale(1.05)
        }
      }
    }
  }
  .fisholover-hero-content-title {
    font-weight: 700;
  }

  @media (min-width: 52.06rem) {
    .md-p0 {
      padding: 0
    }

    .md-h1 {
      font-size: 3.5rem
    }

    .md-mb2 {
      margin-bottom: 1rem
    }

    .md-ml4 {
      margin-left: 2rem
    }

    .md-mx-auto {
      margin-right: auto;
      margin-left: auto
    }

    .md-pl4 {
      padding-left: 2rem
    }

    .fisholover-hero-content-wrapper {
      position: relative;
      color: #fff;
      text-align: left;

      .ampstart-btn {
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        color: #222;
        font-size: .94rem
      }
    }

    .fisholover-hero-content-title {
      font-size: 3.5rem;
      color: #fff;
      font-weight: 700;
      line-height: 1;
      max-width: 500px
    }

    .fisholover-hero-content-body {
      font-size: 1rem;
      margin-bottom: 2rem;
      margin-left: 0;
      padding-left: 2rem
    }

    .fisholover-hero-align {
      width: 100%;
      max-width: 1280px
    }

    .fisholover-hero-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0
    }

    .fisholover-hero-content-theme-secondary,
    .fisholover-hero-content-theme-secondary .fisholover-hero-content-title {
      color: #222
    }

    .fisholover-hero-content-body {
      border-radius: 0 25px 25px 0
    }

    .fisholover-hero-content-theme-primary {
      .fisholover-hero-content-body {
        background-color: rgba(255, 255, 255, 0.8);
        color: #222
      }
    }

    .fisholover-hero-content-theme-secondary {
      .fisholover-hero-content-body {
        background-color: rgba(34, 34, 34, 0.5);
        color: #FFF;
      }

      .ampstart-btn {
        color: #fff;
        background-color: rgba(34, 34, 34, 0.8)
      }
    }

    .amp-mode-mouse {
      .fisholover-hero-content-theme-secondary {
        .ampstart-btn {
          &:hover {
            background-color: rgba(255, 255, 255, 0.4);
            color: #222
          }
        }
      }
    }
  }

  .fisholover-loader {
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: a 1.44s infinite ease-in-out;
    animation: a 1.44s infinite ease-in-out;
    will-change: contents;

    color: #666;
    margin: 24% auto;
    -webkit-animation-delay: .16s;
    animation-delay: .16s;

    &:after, &:before {
      content: "";
      position: absolute;
      top: 0
    }

    &:before {
      left: -1rem;
      -webkit-animation-delay: 0s;
      animation-delay: 0s
    }

    &:after {
      left: 1rem;
      -webkit-animation-delay: .32s;
      animation-delay: .32s
    }
  }

  .fisholover-hero-image {
    .fisholover-loader {
      margin-top: 200px
    }
  }
}

.ampstart-social-box {
  justify-content: center
}
