<!-- Start Related article -->
{% if site.related_posts.size >= 1 %}
<section class="ampstart-related-article-section p3 mb4 border-top border-bottom">
    <h2 class="ampstart-heading ampstart-label m0 mb3">Related article</h2>

    {% comment %}
    <!-- @todo to fix when https://github.com/envygeeks/jekyll-assets/pull/489 is merge -->
    <!-- 656x248 -->
    {% endcomment %}

    {% for related_post in site.related_posts limit: 1 %}
    <article class="ampstart-related-article">
        {% if related_post.image %}
            <amp-img
                src="{% asset '{{ related_post.image }}' @path %}"
                width="656" height="248" layout="responsive" alt="{{ related_post.title }}"
                class="mb3"></amp-img>
        {% endif %}
        <a class="post-link" href="{{ related_post.url | prepend: site.baseurl }}">
            <h3 class="ampstart-heading h4 m0 mb3">{{ related_post.title }}</h3>
        </a>
        <p class="line-height-4 mb3">
            {{ related_post.excerpt | default: related_post.content }}
        </p>

        <a href="{{ related_post.url | prepend: site.baseurl }}"
           class="ampstart-rekated-article-readmore block text-decoration-none ampstart-label">
            Read more
        </a>
    </article>
    {% endfor %}
</section>
{% endif %}
<!-- End Related article -->