<!-- Start Related Section -->
<section class="ampstart-related-section mb4 px3">
    <h2 class="h3 mb1">Recommended for you</h2>
    <ul class="ampstart-related-section-items list-reset flex flex-wrap m0">
        <li class="col-12 sm-col-4 md-col-4 lg-col-4 pr2 py2">


            <!-- Start Image with Caption -->
            <figure class="ampstart-image-with-caption m0 relative mb4">
                <amp-img src="{% asset 'article/bird.png' @path %}" width="233" height="202"
                         alt="Bullseye view: Bird Watching 101" layout="responsive" class=""></amp-img>
                <figcaption class="h5 mt1 px3">
                    Bullseye view: Bird Watching 101
                </figcaption>
            </figure>
            <!-- End Image with Caption -->
        </li>
        <li class="col-12 sm-col-4 md-col-4 lg-col-4 pr2 py2">


            <!-- Start Image with Caption -->
            <figure class="ampstart-image-with-caption m0 relative mb4">
                <amp-img src="{% asset 'article/cheetah.png' @path %}" width="233" height="202"
                         alt="The Worlds fastest animal" layout="responsive" class=""></amp-img>
                <figcaption class="h5 mt1 px3">
                    The Worlds fastest animal
                </figcaption>
            </figure>
            <!-- End Image with Caption -->
        </li>
        <li class="col-12 sm-col-4 md-col-4 lg-col-4 pr2 py2">


            <!-- Start Image with Caption -->
            <figure class="ampstart-image-with-caption m0 relative mb4">
                <amp-img src="{% asset 'article/cow.png' @path %}" width="233" height="202" alt="Cattle Ranch roundup"
                         layout="responsive" class=""></amp-img>
                <figcaption class="h5 mt1 px3">
                    Cattle Ranch roundup
                </figcaption>
            </figure>
            <!-- End Image with Caption -->
        </li>
    </ul>
</section>
<!-- End Related Section -->