<!doctype html>
<html amp lang="en">
    {% include head.html %}

    <body>
        {% include body/nav.html %}
        {{ content }}
        {% include body/footer.html %}
        {% include body/ganalytics.html %}
    </body>
</html>
