---
layout: default
---
{% if page.hero.image %}
{% include body/hero.html %}
<p hidden>
    {% if page.hero.image.wide %}
        {% asset '{{ page.hero.image.wide }}' @path %}
    {% endif %}
    {% if page.hero.image.narrow %}
        {% asset '{{ page.hero.image.narrow }}' @path %}
    {% endif %}
</p>
{% endif %}
<main id="content" role="main" class="">
    <article class="photo-article" itemscope itemtype="http://schema.org/BlogPosting">
        <span class="ampstart-title-md block px3 pt2">{{ page.title }}</span>
        <span class="ampstart-subtitle block px3 pt2 mb2">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
            {% if page.author %}
                 •
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">{{ page.author }}</span>
                </span>
            {% endif %}
        </span>

        <div class="body" itemprop="articleBody">
            {{ content }}
        </div>

        {% include related/article.html %}
        {% include sns/share.html %}

        {% include comment.html %}

        {% comment %}
        {% include related/section.html %}
        {% endcomment %}

    </article>
</main>
