<!-- Start Socialbox -->
<div class="ampstart-social-box"><h4 class="h4">Share</h4></div>
<div class="ampstart-social-box mb4">
    <amp-social-share type="twitter" aria-label="Share this on Twitter"></amp-social-share>
    <amp-social-share type="facebook" aria-label="Share this on Facebook"
                      data-param-text="{{ page.title }}" data-param-href="{{ page.url | prepend: site.baseurl | prepend: site.url }}"
                      data-param-app_id="{{ site.key.facebook.app.id }}"></amp-social-share>
    <amp-social-share type="gplus" aria-label="Share this on Google Plus"></amp-social-share>
    <amp-social-share type="pinterest" aria-label="Share this on pintrest"></amp-social-share>
    <amp-social-share type="email" aria-label="Share this with E-mail"
                      data-param-subject="[ {{ site.title }} ] {{ page.title }}"
                      data-param-body="{{ page.excerpt }} Read more at: {{ page.url | prepend: site.baseurl | prepend: site.url }}"></amp-social-share>
</div>
<!-- End Socialbox -->
